pip install requests beautifulsoup4 yfinance
pip install pymongo yfinance

mkdir stock-app-backend
cd stock-app-backend
npm init -y

npm install express mongoose cors

npx create-react-app stock-app-frontend
cd stock-app-frontend

npm install axios

npm install react-router-dom
npm install react react-dom react-router-dom@latest

mkdir backend
cd backend

npm init -y
npm install express cors

npm install child_process

npm install mongodb